.a {
  color: black;
  text-decoration: none;
}

.CommodityCard {
  max-width: 330px;
  margin: 12px;
}

.img {

}

.name {
  font-size: 20px;
  text-align: center;
}

.describe {
  font-size: 12px;
  text-align: center;
}

.price {
  color: white;
  margin: 0;
  background-color: orange;
  text-align: center;
  font-size: 23px;
}